.datepickerdropdown {
  background: #ededed;
  border: 3px dashed #0a80dc;
  border-radius:5px;
  padding:5px;
  position:relative;
}
.datepickerdropdown table {
  border-collapse:collapse;
  margin:auto;
  text-align: right;
}
.datepickerdropdown input {
  font-family:monospace;
  border:1px solid #888;
  border-radius:3px;
  margin:1px;
  padding: 8px;
  text-align:center;
}
.datepickerdropdown table input[type=button] {
  width:2.5em;
}
.datepickerdropdown input[type=button] {
  /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAElJREFUGFeNwwEGACEQQNF//6MlSRSRSMMkY86wdk+wj4e78zaz772Xcw6qioiw92atxZyTMQa9d1pr1FoppZBzJqVEjJEQwt8PXeRLuM/peRgAAAAASUVORK5CYII=);*/
  background:url('../images/calendar/img1.png');
}
.datepickerdropdown input[type=button]:hover {
    background:url('../images/calendar/img2.png');
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFpJREFUGFdjePfuAgMIv3lzCoxfvTrK8OLFAYbnz/cyPHmyleHx480MDx+uY7h3bxnDnTsLGW7enMVw7dpkhqtXJzJcutTFcOFCG8O5c00MZ87UMZw6VUksBgDwaURPl4Jv2AAAAABJRU5ErkJggg==);*/
}
.datepickerdropdown input[type=button]:active {
    background:url('../images/calendar/img3.png');
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFhJREFUGFdjOHWqkuHMmTqGc+eaGC5caGO4dKmL4erViQzXrk1muHlzFsOdOwsZ7t1bxvDw4TqGx483Mzx5spXh+fO9DC9eHGB49eoow5s3p8D43bsLpGAAr0NKhZpZNgcAAAAASUVORK5CYII=);*/
    padding:2px 4px 2px 6px;
}      
.datepickerdropdown input.selected {
  background: #00aaf1;
}
.datepickerdropdown input[type=text] {
  background:#fff;
  color:#000;
}
.datepickerdropdown input.today {
  border:1px solid red;
}
.datepickerdropdown input.othermonth {
  color:#aaa;
  border:1px solid #bbb;
}
.datepickershow img {
  border:0;
}
.monthDsp {
  width:110px;
  font-size:small;
}
.daysRow
{
font-family:sans-serif;
font-size:11px;
}
#start_dt {
    width: 25%;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#calendar-icon {
    width: 25px;
    height: 25px;
}