/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #33b1e1;
    color: white;
}
.modal-body {
    padding: 2px 12px;
    text-align: center;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #33b1e1;
    color: white;
}
#myBtn {
    padding: 20px 40px 20px 40px;
    background-color: #33b1e1;
    color: white;
    border-radius: 8px;
    font-size: large;
    margin-bottom: 10px;
}
#lateBtn {
    padding: 20px;
    background-color: #fbbd07;
    color: white;
    border-radius: 8px;
    font-size: large;
    margin-bottom: 10px;
}
#absentBtn {
    padding: 20px;
    background-color: #f14a5a;
    color: white;
    border-radius: 8px;
    font-size: large;
}
.modal-button {
    padding: 10px;
    border-radius: 8px;
    font-size: large;
    margin-bottom: 10px;
}
#modal-late {
    background-color: #fbbd07;
    color: white;
}
#modal-absent {
    background-color: #f14a5a;
    color: white;
}
#ok-Btn {
    background-color: #f16ef0;
    color: white;
}

@media only screen and (min-width: 568px) {
    .modal-content {
        width: 50%;
    }
    .modal {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media only screen and (min-width: 768px) {
    .modal-content {
        width: 40%;
    }
    .modal {
        padding-top: 50px; /* Location of the box */
        padding-bottom: 50px;
    }
}
/*Drop down Select*/
label.dropdown select {
    padding: 10px 42px 10px 10px;
    background: white;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    font-size: larger;
}
label.dropdown select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}
label.dropdown select::-ms-expand {
    display: none;
}
label.dropdown { position: relative; }
label.dropdown:after {
    content: '>';
    font: 16px Consolas, monospace;
    color: #444;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 2px;
    top: -3px;
    border-bottom: 1px solid #aaa;
    position: absolute;
    pointer-events: none;
    width: 35px;
    padding: 0 0 5px 0;
    text-indent: 14px;
}
@media screen\0 {
    label.dropdown:after {
        /*width: 38px;*/
        text-indent: 15px;
        right: 0;
    }
}
@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 40px; }
    label.dropdown:before { right: 6px; }
    label.dropdown:after {
        text-indent: 14px;
        right: 6px;
        top: -5px;
        /*width: 36px;*/
    }
}